<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VibeWave</title>
</head>
<body>
  
  <!--
    adding some links for better organisation, so we know
    what we have to implement
  -->
  
  <span style='color: green;'>/templates/home.html</span><br><br>
  
  <a href="/register">register</a><br>
  <a href="/login">login</a><br>
  
  <!-- 
  <a href="#">upload</a><br>
  <a href="#">hot</a><br>
  <a href="#">fresh</a><br>
  -->
</body>
</html>