<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div th:if="${param.login}" th:insert="fragments/success-message.html :: successMessage (message='You\'ve been successfully logged in.')"></div>
    <div th:if="${param.signup}" th:insert="fragments/success-message.html :: successMessage (message='You\'ve been successfully signed up! Confirmation link has been sent to your E-Mail.')"></div>
    <div th:if="${param.resend}" th:insert="fragments/success-message.html :: successMessage (message='Confirmation link has been sent to your E-Mail.')"></div>

    <h1 class="uk-heading-small text-center mt-3">Home</h1>
</div>

</body>
</html>
