<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--Tailwind CSS -->
    <script src="/tailwindcss.3.2.1.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="/uikit.min.js"></script>
    <!-- UIkit Icons JS -->
    <script src="/uikit-icons.min.js"></script>
    <title>Resend Confirmation Token | VibeWave</title>
</head>
<body>
<header>
    <nav class="uk-navbar-container justify-between px-5 gap-5" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li th:class="${#httpServletRequest.requestURI == '/'} ? 'uk-active' : ''">
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a>Discover</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="#">Fresh</a></li>
                            <li><a href="#">Hot</a></li>
                            <li><a href="#">Staff Selections</a></li>
                            <li><a href="#">Followed Artists</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-item w-full">
            <form action="" class="w-full">
                <div class="flex justify-center w-full">
                    <input class="uk-input w-full max-w-[500px]" type="text"
                           placeholder="Search artists, albums, tracks..." aria-label="Search">
                    <button class="uk-button uk-button-default">Search</button>
                </div>
            </form>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#"><span
                            th:text="${#authentication.getName().equalsIgnoreCase('anonymoususer') ? 'Guest' : #authentication.getName()}"></span><span
                            uk-icon="user"></span></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li sec:authorize="isAuthenticated()"
                                th:class="${#httpServletRequest.requestURI.startsWith('/user/my-profile')} ? 'uk-active' : ''">
                                <a href="#">My Profile</a>
                            </li>
                            <li sec:authorize="isAuthenticated()"
                                th:class="${#httpServletRequest.requestURI.startsWith('/user/settings')} ? 'uk-active' : ''">
                                <a href="#">Settings</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a href="#logout-confirmation" uk-toggle>Log Out</a>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN')" class="uk-nav-divider"></li>
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"
                                th:class="${#httpServletRequest.requestURI.startsWith('/user/admin')} ? 'uk-active' : ''">
                                <a href="#">Admin</a>
                            </li>
                            <li sec:authorize="isAnonymous()"
                                th:class="${#httpServletRequest.requestURI.startsWith('/user/login')} ? 'uk-active' : ''">
                                <a th:href="@{/user/login}">Log In</a>
                            </li>
                            <li sec:authorize="isAnonymous()"
                                th:class="${#httpServletRequest.requestURI.startsWith('/user/signup')} ? 'uk-active' : ''">
                                <a th:href="@{/user/signup}">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="uk-container uk-container-large">
        <h1 class="uk-heading-small text-center mt-3">Resend Confirmation Link</h1>
        <hr class="uk-divider-icon"/>
        <div class="uk-container uk-container-xsmall">
            <form action="#" th:action="@{/user/confirm/resend}" th:object="${emailConfirmation}" method="POST"
                  class="uk-form-horizontal uk-margin-large">
                <div class="uk-margin">
                    <label class="uk-form-label" for="email">E-Mail:</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline block">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input class="uk-input"
                                   th:classappend="${#fields.hasErrors('email')} ? 'uk-form-danger' : ''"
                                   id="email" type="text" th:field="*{email}"
                                   placeholder="Enter your E-Mail">
                        </div>
                        <ul class="text-red-500">
                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                        </ul>
                    </div>
                </div>
                <button class="uk-button uk-button-primary bg-blue-500" type="submit" onclick="this.form.submit(); this.disabled=true;">Resend</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>
