<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>VibeWave - Confirm Your E-Mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p>
    Welcome to VibeWave, <span th:text="${username}"></span>.
</p>
<p>
    Click below to confirm your E-Mail.
</p>
<p>
    <a th:href="${confirmationLink}">
        Confirm Your E-Mail
    </a>
</p>
</body>
</html>