<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Staff Selections</title>
</head>
<body>

<div layout:fragment="content">
  <h1 class="uk-heading-small text-center mt-3">Staff Selections</h1>

  <h2 class="text-3xl mb-7 mt-5 border-b" th:if="${#arrays.length(playlists) > 0}">Playlists</h2>
  <div class="flex flex-wrap gap-9" th:if="${#arrays.length(playlists) > 0}">
    <a th:each="playlist: ${playlists}" th:href="@{${'/playlist/' + playlist.id}}" class="w-fit !no-underline hover:scale-105 duration-300">
      <div class="sm:w-[250px] sm:h-[250px] w-full aspect-square border border-neutral-300">
        <img class="w-full h-full object-cover" th:src="@{${'/file/' + (playlist.coverPhotoUrl != null ? playlist.coverPhotoUrl : 'default-album.png')}}">
      </div>
      <h3 class="text-xl text-center" th:uk-tooltip="${playlist.name}" th:text="${#strings.length(playlist.name) > 23 ? #strings.substring(playlist.name, 0, 23) + '...' : playlist.name}"></h3>
    </a>
  </div>
</div>

</body>
</html>
